<ets-card
    class="recover-password-page__wrapper"
    [width]="cardSize?.width"
    [height]="cardSize?.height"
>
    <span class="recover-password-page__caption">
        {{ 'recoveryPassword' | i18next }}
    </span>
    <div [ngSwitch]="recoverTypeState">
        <div *ngSwitchCase="'email'">
            <ng-container *ngTemplateOutlet="emailTemp"></ng-container>
        </div>
        <div *ngSwitchCase="'password'">
            <ng-container *ngTemplateOutlet="passwordTemp"></ng-container>
        </div>
        <div *ngSwitchCase="'successAction'">
            <ng-container *ngTemplateOutlet="successActionTemp"></ng-container>
        </div>
    </div>
</ets-card>
<div class='recover-password-page__circle'></div>

<ng-template #passwordTemp>
    <div class="recover-password-page__section">
        <label class="recover-password-page__label">
            {{ 'newPassword' | i18next }}
        </label>
        <p-password
            class="recover-password-page__input"
            [toggleMask]="true"
        ></p-password>
        <label class="recover-password-page__label _password">
            {{ 'confirmPassword' | i18next }}
        </label>
        <p-password
            class="recover-password-page__input"
            [toggleMask]="true"
        ></p-password>
        <p-button
            class="recover-password-page__input _sign-in"
            styleClass="p-button-raised"
            [label]="'signIn' | i18next"
        ></p-button>
    </div>
</ng-template>

<ng-template #emailTemp>
    <div class="recover-password-page__section">
        <span
            class="recover-password-page__description _action _blue"
            [innerHTML]="'sendResetPassword' | i18next"
        ></span>
        <label class="recover-password-page__label">
            {{ 'enterUsernameOrEmail' | i18next }}
        </label>
        <input
            pInputText
            class="recover-password-page__input"
            type="text"
            [placeholder]="'usernameOrEmail' | i18next"
        />
        <p-button
            class="recover-password-page__input _recover"
            styleClass="p-button-raised"
            [label]="'recover' | i18next"
        ></p-button>
        <p-button
            class="recover-password-page__input _login"
            styleClass="p-button-text"
            [label]="'logIn' | i18next"
        ></p-button>
    </div>
</ng-template>

<ng-template #successActionTemp>
    <span
        class="recover-password-page__description _success _blue"
        [innerHTML]="'successRecoverMessage' | i18next: {email: email}"
    ></span>
</ng-template>
