<ets-card
    class="recover-password-page__wrapper"
    [width]="cardSize?.width"
    [height]="cardSize?.height"
>
    <span class="recover-password-page__caption">
        Recovery Password
    </span>
    <div [ngSwitch]="recoverTypeState">
        <div *ngSwitchCase="'email'">
            <ng-container *ngTemplateOutlet="emailTemp"></ng-container>
        </div>
        <div *ngSwitchCase="'password'">
            <ng-container *ngTemplateOutlet="passwordTemp"></ng-container>
        </div>
        <div *ngSwitchCase="'successAction'">
            <ng-container *ngTemplateOutlet="successActionTemp"></ng-container>
        </div>
    </div>
</ets-card>
<div class='recover-password-page__circle'></div>

<ng-template #passwordTemp>
    <div class="recover-password-page__section">
        <label class="recover-password-page__label">
            Enter your username or email address
        </label>
        <input
            pInputText
            class="recover-password-page__input"
            type="text"
            placeholder="Username or email address"
        />
        <label class="recover-password-page__label _password">
            Confirm your new password
        </label>
        <input
            pInputText
            class="recover-password-page__input"
            type="text"
            placeholder="Confirm new password"
        />
        <p-button
            class="recover-password-page__input _sign-in"
            styleClass="p-button-raised"
            label="Sign in"
        ></p-button>
    </div>
</ng-template>

<ng-template #emailTemp>
    <div class="recover-password-page__section">
        <span class="recover-password-page__description _action">
            Enter your
            <strong class="recover-password-page__mail">
                username
            </strong>
            or
            <strong class="recover-password-page__mail">
                email password
            </strong>
            and we'll send you an email with your username and
            a link to reset your password.
        </span>
        <label class="recover-password-page__label">
            Enter your username or email address
        </label>
        <input
            pInputText
            class="recover-password-page__input"
            type="text"
            placeholder="Username or email address"
        />
        <p-button
            class="recover-password-page__input _recover"
            styleClass="p-button-raised"
            label="Recover"
        ></p-button>
        <p-button
            class="recover-password-page__input _login"
            styleClass="p-button-text"
            label="Log In"
        ></p-button>
    </div>
</ng-template>

<ng-template #successActionTemp>
    <span class="recover-password-page__description _success">
        We have sent you an email to your
        <a class="recover-password-page__mail">{{ email }}</a>
        email account with the instructions to recover your password.
    </span>
</ng-template>
