<div class="header">
    <div class="header__logo">
        <svg-icon name="logo" [svgStyle]="{ 'width.px':90 }"></svg-icon>
    </div>
    <div class="header__tabs">
        <div
            class="header__tabs-item"
            *ngFor="let tab of navigationTabs; index as i"
        >
            {{ tab }}
        </div>
    </div>
    <div class="header__controls">
        <button
            class="header__controls-item _start-button"
            mat-raised-button
            color="primary"
        >
            Get Started
        </button>
    </div>
</div>
