# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[{*.ts,*.ats}]
ij_typescript_align_multiline_array_initializer_expression = true
ij_typescript_array_initializer_new_line_after_left_brace = true
ij_typescript_array_initializer_right_brace_on_new_line = true
ij_typescript_array_initializer_wrap = split_into_lines
ij_typescript_enforce_trailing_comma = whenmultiline
ij_typescript_force_quote_style = true
ij_typescript_import_sort_members = true
ij_typescript_import_sort_module_name = true
ij_typescript_imports_wrap = split_into_lines
ij_typescript_space_after_colon = true
ij_typescript_space_before_colon = true
ij_typescript_spaces_around_equality_operators = true
ij_typescript_spaces_within_imports = false
ij_typescript_use_double_quotes = true

[{*.ng,*.shtm,*.sht,*.shtml,*.htm,*.html}]
ij_html_align_attributes = true
ij_html_attribute_wrap = split_into_lines
ij_html_enforce_quotes = true
ij_html_new_line_after_last_attribute = when_multiline
ij_html_quote_style = double

[{*.css,*.less}]
ij_css_blank_lines_between_blocks = 1
ij_css_block_comment_add_space = true
ij_css_hex_color_upper_case = true
ij_css_keep_blank_lines_in_code = 2
ij_css_space_after_colon = true
ij_css_space_before_opening_brace = true
ij_css_use_double_quotes = true
ij_css_hex_color_lower_case = true
ij_css_hex_color_short_format = true
ij_less_blank_lines_between_blocks = 1
ij_less_block_comment_add_space = true
ij_less_hex_color_upper_case = true
ij_less_keep_blank_lines_in_code = 2
ij_less_space_after_colon = true
ij_less_space_before_opening_brace = true
ij_less_use_double_quotes = true
ij_less_hex_color_lower_case = true
ij_less_hex_color_short_format = true

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.yaml]
indent_size = 2

[{*.bash,*.sh}]
end_of_line = lf
