<ng-container *ngIf="item"
              [ngTemplateOutletContext]="{navItem: item}"
              [ngTemplateOutlet]="label"
>
</ng-container>

<ng-template #label
             let-navItem="navItem"
>
    <div class="nav-item"
         [ngClass]="{'selected': currentUrl && currentUrl === item.url}"
         [pTooltip]="mode === sidebarMode.Collapsed ? navItem.name : null"
         (click)="navItemClicked(navItem)"
    >
        <ets-icon [icon]="navItem.icon || 'dot'"></ets-icon>
        <div *ngIf="mode === sidebarMode.Full"
             class="nav-item__name"
        >
            {{navItem.name}}
        </div>
        <ets-icon *ngIf="navItem.childrenItems && mode === sidebarMode.Full"
                  [icon]="displayNestedItems ? 'angle-down' : 'angle-right'"
        ></ets-icon>
    </div>

    <ng-container *ngIf="displayNestedItems && mode === sidebarMode.Full">
        <ng-container *ngFor="let nestedItem of navItem.childrenItems">
            <ets-sidebar-nav-item class="nested-item"
                                  [currentUrl]="currentUrl"
                                  [item]="nestedItem"
                                  [mode]="mode"
                                  (itemClicked)="itemClicked.emit($event)"
            ></ets-sidebar-nav-item>
        </ng-container>
    </ng-container>
</ng-template>
