.course-details-metrics {
    ::ng-deep {
        .p-card-content {
            padding: 0;
        }

        .p-card .p-card-body {
            padding: 0;
        }

        .p-card {
            border-radius: 12px;
        }
    }

    &__purchase, &__control {
        display: flex;
        flex-direction: column;
    }

    &__control {
        margin-bottom: 20px;

        &._add-cart {
            ::ng-deep {
                .p-button-label {
                    flex: 0.5;
                }

                .p-button {
                    justify-content: center;
                }
            }
        }
    }

    &__guarantee {
        margin-bottom: 12px;
        text-align: center;
        color: #777e90;
    }

    &__purchase {
        padding: 24px 32px;
        background-color: #e5e9f5;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
    }

    &__price {
        display: flex;

        &-discount, &-section, &-caption {
            display: flex;
            align-items: baseline;
        }

        &-discount {
            align-items: center;

            &-icon {
                margin-right: 4px;
            }

            &-sale {
                font-weight: 700;
            }
            --ets-icon-color: red;
        }

        &-section {
            margin-bottom: 32px;
            justify-content: space-between;
        }

        &._old {
            text-decoration: line-through;
            color: #777e90;
        }

        &._new {
            margin-right: 8px;
            font-size: 28px;
            font-weight: 700;
        }
    }

    &__overview {
        display: flex;
        flex-direction: column;
        margin-left: 32px;

        &-item {
            display: flex;
            flex-direction: row;
            padding: 8px 0;

            &-icon {
                margin-right: 12px;
            }

            &._first {
                margin-top: 12px;
            }

            &._last {
                margin-bottom: 16px;
            }
        }
    }
}
