<p-card class="course-details-metrics">
    <div class="course-details-metrics__purchase">
        <div class="course-details-metrics__price-section">
            <div class="course-details-metrics__price-caption">
                <span class="course-details-metrics__price _new">
                    $129.99
                </span>
                <span class="course-details-metrics__price _old">
                    $195.99
                </span>
            </div>
            <div class="course-details-metrics__price-discount">
                <ets-icon icon="percentage"></ets-icon>
                <span>75% off</span>
            </div>
        </div>
        <p-button
            class="course-details-metrics__control"
            label="Add to cart"
            icon="pi pi-shopping-cart"
        ></p-button>
        <p-button
            class="course-details-metrics__control"
            label="Buy Now"
            styleClass="p-button-outlined"
        ></p-button>
        <span>
            30-Day Money-Back Guarantee
        </span>
    </div>
    <div class="course-details-metrics__overview">
        <div>
            <ets-icon icon="percentage"></ets-icon>
            <span>75% off</span>
        </div>
    </div>
</p-card>
