@import "utils";
@import "vars";

.courses-header::ng-deep {
    display: flex;
    flex-direction: column;
    gap: @size-md;
    padding: @size-md;

    .panel {
        display: flex;

        &__left {
            flex: 1;

            .title {
                .main-title();
            }
        }

        &__right {
            flex: 0;
            z-index: -1;

            .controls {
                display: flex;
                gap: @size-sm;
                width: max-content;

                .filter .pi-filter {
                    font-size: @size-xs-md;
                }
            }
        }
    }
}

.courses-list {
    gap: @size-md;

    &.tile {
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    &.full-width {
        display: flex;
        flex-direction: column;
    }
}
