@import "utils";
@import "vars";

.courses-header::ng-deep {
    display: flex;
    flex-direction: column;
    gap: @size-md;
    padding: @size-md;

    .panel {
        display: flex;

        &__right {
            flex: 1;

            .title {
                .main-title();
            }
        }

        &__left {
            flex: 0;

            .controls {
                display: flex;
                gap: @size-sm;
                width: max-content;

                .filter .pi-filter {
                    font-size: @size-xs-md;
                }
            }
        }
    }
}
