<div class="login-page__wrapper">
    <div class="login-page__wrapper-info">
        <div class="login-page__greetings">
            <div class="login-page__welcome">
                <span class="login-page__welcome-text _uppercase">Welcome to</span>
                <span class="login-page__welcome-text _system-name">ETIMS CLOUD</span>
                <span class="login-page__description">The system is intended to control learning process. Register right now</span>
                <p-button
                    class="login-page__sign-in"
                    label="Sign Up"
                    styleClass="p-button-rounded p-button-outlined"
                    (onClick)="handleSignUp()"
                ></p-button>
            </div>
        </div>
    </div>
    <div class="login-page__wrapper-login">
<!--        <span class="login-page__welcome-text _black">Sign In</span>-->
        <button (click)="test123()">Test</button>
        <iframe
            *ngIf="result"
            id="inlineFrameExample"
            title="Inline Frame Example"
            width="500"
            height="400"
            [src]="result"
        >
        </iframe>
<!--        <div class="login-page__buttons">-->
<!--            <p-button-->
<!--                *ngFor="let item of mediaButtons"-->
<!--                class="login-page__button"-->
<!--                (onClick)="handleMediaChange(item?.id)"-->
<!--            >-->
<!--                <svg-icon-->
<!--                    class="login-page__button-icon"-->
<!--                    [name]="item?.name"-->
<!--                ></svg-icon>-->
<!--            </p-button>-->
<!--        </div>-->
<!--        <div class="login-page__section">-->
<!--            <label class="login-page__label">-->
<!--                Enter your username or email address-->
<!--            </label>-->
<!--            <input-->
<!--                pInputText-->
<!--                class="login-page__input _email"-->
<!--                type="text"-->
<!--                placeholder="Username or email address"-->
<!--            />-->
<!--            <label class="login-page__label _password">-->
<!--                Enter your password-->
<!--            </label>-->
<!--            <p-password-->
<!--                class="login-page__input"-->
<!--                [feedback]="false"-->
<!--                placeholder="Password"-->
<!--            ></p-password>-->
<!--            <p-button-->
<!--                class="login-page__input _forgot-password"-->
<!--                label="Forgot Password"-->
<!--                styleClass="p-button-link"-->
<!--            ></p-button>-->
<!--            <p-button-->
<!--                class="login-page__input _sign-in"-->
<!--                styleClass="p-button-raised"-->
<!--                label="Sign in"-->
<!--            ></p-button>-->
<!--        </div>-->
    </div>
</div>

