<div class="auth-container">
    <div class="header">
        Sign In
    </div>
    <form class="form"
          id="auth-login"
          method="post"
          onsubmit="return true;"
    >
        <label class="label login-label">Enter your username or email address</label>
        <input class="input login-field"
               id="username"
               name="username"
               placeholder="Username or email address"
               type="text"
        >
        <label class="label password-label">Enter your password</label>
        <input class="input password-field"
               id="password"
               name="password"
               placeholder="Password"
               type="password"
        >
        <a href="/recover-password" class="forget-password-label">Forget password?</a>
        <button class="submit-button"
                type="submit"
        >
            Sign In
        </button>
    </form>
</div>
