<div class="account-starter-page__wrapper">
    <div class="account-starter-page__wrapper-info">
        <div class="account-starter-page__greetings">
            <div class="account-starter-page__welcome">
                <span class="account-starter-page__welcome-text _uppercase">Welcome to</span>
                <span class="account-starter-page__welcome-text _system-name">ETIMS CLOUD</span>
                <span class="account-starter-page__description">The system is intended to control learning process. Register right now</span>
                <p-button class="account-starter-page__sign-in" label="Primary" styleClass="p-button-rounded p-button-outlined"></p-button>
            </div>
        </div>
        <div class="account-starter-page__circle"></div>
    </div>
    <div class="account-starter-page__wrapper-login">
        <span class="account-starter-page__welcome-text">Sign In</span>
        <div class="account-starter-page__buttons">
            <p-button icon="pi pi-check"></p-button>
            <p-button icon="pi pi-check"></p-button>
            <p-button icon="pi pi-check"></p-button>
        </div>
        <div class="account-starter-page__section">
            <label class="account-starter-page__label">
                Enter your username or email address
            </label>
            <input
                pInputText
                class="account-starter-page__input"
                type="text"
                placeholder="Username or email address"
            />
            <label class="account-starter-page__label _password">
                Confirm your new password
            </label>
            <input
                pInputText
                class="account-starter-page__input"
                type="text"
                placeholder="Confirm new password"
            />
            <p-button
                class="account-starter-page__input _sign-in"
                styleClass="p-button-raised"
                label="Sign in"
            ></p-button>
        </div>
    </div>
</div>

