<p-card class="recover-password-page__wrapper">
    <span class="recover-password-page__caption">
        {{ 'label.recovery.password' | i18next }}
    </span>
    <div [ngSwitch]="recoverTypeState">
        <div *ngSwitchCase="recoverType.email">
            <ng-container *ngTemplateOutlet="emailTemp"></ng-container>
        </div>
        <div *ngSwitchCase="recoverType.password">
            <ng-container *ngTemplateOutlet="passwordTemp"></ng-container>
        </div>
        <div *ngSwitchCase="recoverType.successAction">
            <ng-container *ngTemplateOutlet="successActionTemp"></ng-container>
        </div>
    </div>
</p-card>

<ng-template #passwordTemp>
    <div class="recover-password-page__section">
        <label class="recover-password-page__label">
            {{ 'label.new.password' | i18next }}
        </label>
        <p-password
            class="recover-password-page__input"
            [toggleMask]="true"
        ></p-password>
        <label class="recover-password-page__label _password">
            {{ 'label.confirm.password' | i18next }}
        </label>
        <p-password
            class="recover-password-page__input"
            [toggleMask]="true"
        ></p-password>
        <p-button
            class="recover-password-page__input _sign-in"
            styleClass="p-button-raised"
            [label]="'button.sign.in' | i18next"
        ></p-button>
    </div>
</ng-template>

<ng-template #emailTemp>
    <div class="recover-password-page__section">
        <span
            class="recover-password-page__description _action _blue"
            [innerHTML]="'text.send.password' | i18next"
        ></span>
        <label class="recover-password-page__label">
            {{ 'label.username.email' | i18next }}
        </label>
        <input
            pInputText
            class="recover-password-page__input"
            type="text"
            [placeholder]="'input.username.email' | i18next"
        />
        <p-button
            class="recover-password-page__input _recover"
            styleClass="p-button-raised"
            [label]="'button.recover' | i18next"
        ></p-button>
        <p-button
            class="recover-password-page__input _login"
            styleClass="p-button-text"
            [label]="'button.log.in' | i18next"
        ></p-button>
    </div>
</ng-template>

<ng-template #successActionTemp>
    <span
        class="recover-password-page__description _success _blue"
        [innerHTML]="'text.success.recover' | i18next: {email: email}"
    ></span>
</ng-template>
