@import "colors";
@import "utils";
@import "vars";

@gap: @size-sm;

.nav-item-base() {
    .flex-row();
    align-items: center;
    cursor: pointer;
    padding: (@gap / 2) @size-xxs-xs;

    &:hover {
        background: @blue-hover;
    }

    &:active {
        background: @blue-active;
    }
}

:host {
    background: @white;
    padding: @size-sm @size-xxs;
    .flex-column(@gap);
    .shadow-right();
    --ets-icon-size: 25px;
}

.nav-groups {
    .flex-column(@gap);
    flex: 1;

    .nav-group {
        &:not(:first-child) {
            .before-divider();
        }

        .flex-column(0);

        .nav-item {
            .nav-item-base();

            &:first-child {
                margin-top: @gap;
            }
        }
    }
}

.collapse-controller {
    flex: 0;
    .nav-item-base();
}
