<div class="landing-header">
    <p-menubar>
        <ng-template pTemplate="start">
            <ets-icon [icon]="'logo'"
                      [viewBox]="'0 0 2 1'"
            ></ets-icon>
            <p-tabMenu [activeItem]="_activeItem"
                       [model]="primaryNavTabs"
                       (activeItemChange)="onActiveItemChange($event)"
            ></p-tabMenu>
        </ng-template>
        <ng-template pTemplate="end">
            <ng-container *ngTemplateOutlet="searchTemplate"></ng-container>
            <ng-container *ngFor="let item of secondaryNavTabs">
                <ng-container *ngTemplateOutlet="item?.type !== 'search'
                    ? buttonTemplate
                    : searchTemplate;
                    context: { item: item }"
                ></ng-container>
            </ng-container>
        </ng-template>
    </p-menubar>
</div>

<ng-template
    #searchTemplate
    let-item="item"
>
    <div class="landing-header__search-box">
        <input class="landing-header__search-input"
               type="text"
               [placeholder]="'header.search' | i18next"
        />
        <p-button
            class="landing-header__search-button"
            [icon]="item?.icon"
            [label]="item?.label"
            [styleClass]="item?.styleClass"
            (onClick)="handleButtonChange(item?.type)"
        ></p-button>
    </div>
</ng-template>

<ng-template
    #buttonTemplate
    let-item="item"
>
    <p-button
        class="landing-header__button"
        [icon]="item?.icon"
        [label]="item?.label"
        [styleClass]="item?.styleClass"
        (onClick)="handleButtonChange(item?.type)"
    ></p-button>
    <label
        *ngIf="item?.type === 'globe'"
        class="landing-header__button-label"
    >
        {{ selectedLanguage?.name }}
    </label>
</ng-template>

<p-overlayPanel
    #overlayPanel
    class="landing-header__language-list"
>
    <p-scrollPanel [style]="{ width: '100%', height: '150px' }">
        <p-listbox
            [options]="languages"
            [style]="{ width: '100%' }"
            [(ngModel)]="selectedLanguage"
        >
            <ng-template
                pTemplate="item"
                let-country
            >
                <ets-icon class="landing-header__language-icon"
                          [icon]="country.icon"
                ></ets-icon>
                <div class="flex align-items-center gap-2">
                    <div>{{ country.name }}</div>
                </div>
            </ng-template>
        </p-listbox>
    </p-scrollPanel>
</p-overlayPanel>
