@import "utils";

:host {
    overflow: hidden;
    .shadow-all();
}

.card {
    background: #fff;
    gap: @size-sm;

    .card-image {
        overflow: hidden;

        img {
            object-fit: cover;
            object-position: center;
            height: 150px;
            width: 100%;
        }
    }

    .course-info {
        display: flex;
        flex-direction: column;
        gap: @size-xs;

        &__title {
            .second-title();
        }

        &__description {
            .light-text()
        }
    }
}

.full-width-card {
    display: flex;

}

.tile-card {
    display: flex;
    flex-direction: column;
    //width: min-content;
    min-width: 200px;
}
