@import "utils";

:host {
    //width: min-content;
    overflow: hidden;
}

.card {
    background: #fff;
    .shadow-all();

    .card-image {
        overflow: hidden;

        img {
            object-fit: cover;
            object-position: center;
            height: 150px;
            width: 100%;
        }
    }
}

.full-width-card {
    display: flex;

}

.tile-card {
    display: flex;
    flex-direction: column;
    //width: min-content;
    min-width: 200px;
}
