<ng-container [ngSwitch]="mode">
    <ng-container *ngSwitchCase="_courseCardDisplayMode.FULL_WIDTH"
                  [ngTemplateOutlet]="fullWidthMode"
    ></ng-container>
    <ng-container *ngSwitchCase="_courseCardDisplayMode.TILE"
                  [ngTemplateOutlet]="tileMode"
    ></ng-container>
</ng-container>

<ng-template #fullWidthMode>
    <div class="card full-width-card">
        <div class="card-image">
            <img src="assets/images/course-img.jpg" alt>
        </div>
        <div class="card-content">
            {{card.name}}
        </div>
    </div>
</ng-template>

<ng-template #tileMode>
    <div class="card tile-card">
        <div class="card-image">
            <img src="assets/images/course-img.jpg" alt>
        </div>
        <div class="card-content">
            {{card.name}}
        </div>
    </div>
</ng-template>
