<ng-container [ngSwitch]="mode">
    <ng-container *ngSwitchCase="courseCardDisplayMode.FULL_WIDTH"
                  [ngTemplateOutlet]="fullWidthMode"
    ></ng-container>
    <ng-container *ngSwitchCase="courseCardDisplayMode.TILE"
                  [ngTemplateOutlet]="tileMode"
    ></ng-container>
</ng-container>

<ng-template #fullWidthMode>
    <ets-card class="card full-width-card">
        <div class="card-image">
            <img alt
                 src="assets/images/course-img.jpg"
            >
        </div>
        <div class="card-content">
            <div class="card-content__body">
                <ng-container [ngTemplateOutlet]="courseInfo"
                ></ng-container>
                <ng-container [ngTemplateOutlet]="tags"
                ></ng-container>
            </div>
            <div class="card-content__footer">
                <ng-container [ngTemplateOutlet]="author"
                ></ng-container>
                <ets-progress-bar *ngIf="card.progress"
                                  class="card-content__footer-progress"
                                  [progress]="card.progress"
                ></ets-progress-bar>
                <ng-container [ngTemplateOutlet]="previewButton"
                ></ng-container>
            </div>
        </div>
    </ets-card>
</ng-template>

<ng-template #tileMode>
    <ets-card class="card tile-card">
        <div class="card-image">
            <img alt
                 src="assets/images/course-img.jpg"
            >
        </div>
        <div class="card-content">
            <div class="card-content__body">
                <ng-container [ngTemplateOutlet]="tags"
                ></ng-container>
                <ng-container [ngTemplateOutlet]="courseInfo"
                ></ng-container>
            </div>
            <div class="card-content__footer">
                <ng-container [ngTemplateOutlet]="author"
                ></ng-container>
                <ng-container [ngTemplateOutlet]="previewButton"
                ></ng-container>
            </div>
        </div>
    </ets-card>
</ng-template>

<ng-template #tags>
    <div class="course-tags">
        <ets-chip *ngFor="let tag of card.tags"
                        class="course-tag"
                        [chip]="tag"
        ></ets-chip>
    </div>
</ng-template>

<ng-template #courseInfo>
    <div class="course-info">
        <div class="course-info__title">{{card.name}}</div>
        <div class="course-info__description">{{card.description}}</div>
    </div>
</ng-template>

<ng-template #author>
    <div class="course-author">
        <div class="course-author__avatar">
            <img alt
                 class="image"
                 [src]="card.author?.avatar || 'assets/images/person.png'"
            >
        </div>
        <p-divider class="divider"
                   layout="vertical"
        ></p-divider>
        <div class="course-author__name">{{card.author.name}}</div>
    </div>
</ng-template>

<ng-template #previewButton>
    <p-button styleClass="p-button-outlined"
              [label]="'label.button.preview' | i18next"
    ></p-button>
</ng-template>
