.course-details-overview::ng-deep {
    .p-tabview-title {
        letter-spacing: 0.01em;
    }

    .p-tabview .p-tabview-panels {
        p {
            color: #777E90;
            text-align: justify;
            letter-spacing: 0.01em;
        }
    }
}
