<ng-container *ngIf="(isLoggedIn$ | async) else landingHeader"
              [ngTemplateOutlet]="coreHeader"
></ng-container>

<ets-icon-lazy-holder></ets-icon-lazy-holder>

<div class="page-content">
    <ets-core-sidebar *ngIf="isLoggedIn$ | async"
                      [navGroups]="sidebarGroups"
                      [navBottomGroups]="sidebarBottomGroups"
    ></ets-core-sidebar>
    <div class="route-content">
        <router-outlet></router-outlet>
    </div>
</div>

<ng-template #landingHeader>
    <ets-landing-header></ets-landing-header>
</ng-template>

<ng-template #coreHeader>
    <ets-core-header></ets-core-header>
</ng-template>
