<div class="login-page__wrapper-info">
    <div class="login-page__welcome">
        <div class="login-page__welcome-text _uppercase">Welcome to</div>
        <div class="login-page__welcome-text _system-name">ETIMS CLOUD</div>
        <div class="login-page__description">The system is intended to control learning process. Register right now
        </div>
        <p-button class="login-page__sign-in"
                  label="Sign Up"
                  styleClass="p-button-rounded p-button-outlined"
                  (onClick)="click.emit()"
        ></p-button>
    </div>
</div>
