<div class="alert-popup__header">
    <span class="alert-popup__header-caption">
        {{ caption }}
    </span>
    <p-button
        *ngIf="popupItems?.length"
        styleClass="p-button-link"
        class="alert-popup__header-redirect"
        [label]="'header.popup.see.all' | i18next"
    ></p-button>
</div>
<div *ngIf="popupItems?.length; else emptyTemplate">
    <p-scrollPanel
        class="alert-popup__scroll-wrapper"
        [style]="{
            width: '100%',
            height: '100%'
        }"
    >
        <div
            class="alert-popup__items"
            *ngFor="let item of popupItems"
        >
            <ets-preview-item
                class="alert-popup__item"
                [item]="item"
            ></ets-preview-item>
        </div>
    </p-scrollPanel>
</div>

<ng-template #emptyTemplate>
    <span class="alert-popup__empty">
        {{ 'header.popup.no.changes' | i18next }}
    </span>
</ng-template>

