<div class="core-header">
    <p-menubar>
        <ng-template pTemplate="start">
            <svg-icon name="logo"></svg-icon>
        </ng-template>
        <ng-template pTemplate="end">
            <ng-container *ngTemplateOutlet="searchTemplate"></ng-container>
            <ng-container *ngFor="let item of tabsList">
                <ng-container *ngTemplateOutlet="item?.type === 'avatar'
                    ? avatarTemplate
                    : buttonTemplate;
                    context: { item: item }"
                ></ng-container>
            </ng-container>
        </ng-template>
    </p-menubar>
</div>

<ng-template #searchTemplate>
    <div class="core-header__search-box">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
                pInputText
                class="core-header__search-input"
                type="text"
                [placeholder]="'header.search' | i18next"
            />
        </span>
    </div>
</ng-template>

<ng-template
    #buttonTemplate
    let-item="item"
>
    <div
        pBadge
        class="core-header__badge"
        *ngIf="item?.amount"
        [value]="item.amount"
        [severity]="item.severity"
    >
        <p-button
            class="core-header__button"
            [styleClass]="item?.styleClass"
            (onClick)="handleControlClick($event, targetOverlay, item)"
        >
            <div #targetOverlay>
                <svg-icon
                    [name]="item?.icon"
                    [svgStyle]="{
                        'width.px': 24,
                        'height.px': 24
                    }"
                ></svg-icon>
            </div>
        </p-button>
    </div>
</ng-template>

<ng-template
    #avatarTemplate
    let-item="item"
>
    <p-button
        class="core-header__avatar-wrapper"
        [styleClass]="item?.styleClass"
        (click)="menu.toggle($event)"
    >
        <p-avatar
            class="core-header__avatar-image"
            size="large"
            shape="circle"
            [image]="item?.avatar"
        ></p-avatar>
        <span class="core-header__avatar-caption">
            {{ item?.caption }}
        </span>
    </p-button>
</ng-template>

<p-menu
    #menu
    class="core-header__user-menu"
    [model]="userMenuItems"
    [popup]="true"
></p-menu>

<p-overlayPanel
    #overlayPanel
    class="core-header__overlay-panel"
>
    <ng-container
        *ngIf="selectedControlType === 'message';
        then messagePopup;
        else notificationPopup"
    ></ng-container>
</p-overlayPanel>

<ng-template #messagePopup>
    <ets-alert-popup [caption]="'header.popup.caption.messages' | i18next"></ets-alert-popup>
</ng-template>

<ng-template #notificationPopup>
    <ets-alert-popup [caption]="'header.popup.caption.notifications' | i18next"></ets-alert-popup>
</ng-template>
