// color palette for landing UI

@main-text-color: #30334d;
@second-text-color: #9197ae;
@selected-text-color: @blue-ultramarine;
@icon-color: @main-text-color;

@blue-sky: #4c85ff;
@blue-navy: #3d4f9f;
@blue-light: #4285f4;
@blue-ultramarine: #5e81fe;
@blue-bright-navy: #457eb2;
@blue-midnight: #0c306b;
@blue-very-pale: #f1f5ff;
@blue-alice: #f4f7ff;
@blue-hover: #f6f8fd;
@blue-active: @lavender;
@link-water: #f1f4fb;

@gray-lava: #697ca6;
@gray-lava-light: #b8c5e3;
@gray-ice: #777e90;
@gray-suva: #8a8a8a;
@gray-light: #d1d6e3;
@gray-light-stale: #8d96bd;
@gray-76: #c2c2c2;
@gray-95: #f2f2f2;
@gray: #7b7777;

@orange: #ff9924;
@green: #45ec36;
@red: #ff1515;

@white: #fff;

@lavender: #f2f5ff;
@lavender-blush: #fff4f9;

@black: #000;

@default-dark-blue-shadow: rgba(5, 0, 48, 0.05);
