// color palette for landing UI

@main-text-color: #30334D;
@second-text-color: #9197AE;

@blue-sky: #4C85FF;
@blue-navy: #3D4F9F;
@blue-light: #4285F4;
@blue-ultramarine: #5E81FE;
@blue-midnight: #0C306B;
@blue-alice: #F4F7FF;
@link-water: #F1F4FB;

@gray-lava: #697CA6;
@gray-ice: #777E90;
@gray-light: #D1D6E3;
@gray-light-stale: #8D96BD;
@gray-76: #C2C2C2;
@gray-95: #F2F2F2;
@gray: #7B7777;

@white: #FFFFFF;

@lavender: #D8E3FE;
@lavender-blush: #FFF4F9;

@black: #000000;

@default-dark-blue-shadow: rgba(5, 0, 48, 0.05);
