@import "vars";
@import "utils";

.p-tabmenu .p-tabmenu-nav {
    @border-radius: var(--ets-tabmenu-item-border-radius, @default-border-radius);
    border: none;

    .p-highlight {
        .selected-border(@blue-light, @border-radius);
    }

    .p-tabmenuitem .p-menuitem-link {
        border-radius: @border-radius;
        border: none;
        height: @default-control-height;
        margin: 0;
        padding: var(--ets-tabmenu-item-padding, @size-sm @size-md);
    }
}

p-selectbutton {
    .p-button.p-component {
        height: @default-control-height;
    }
}

p-button {
    .p-button.p-component {
        height: @default-control-height;
    }
}
