@import "colors";
@import "vars";

.shadow-all(@verticalShift: 0) {
    @shadow: 0 (@verticalShift) 8px 0 @default-dark-blue-shadow;
    box-shadow: @shadow;
    -moz-box-shadow: @shadow;
    -webkit-box-shadow: @shadow;
}

.shadow-bottom() {
    @shadow: 0 0 8px 0 @default-dark-blue-shadow;
    @none-shadow: 0 0 0 transparent;
    box-shadow: @none-shadow, /* top */ @shadow, /* bottom */ @none-shadow, /* left */ @none-shadow; /* right */
    -moz-box-shadow: @shadow;
    -webkit-box-shadow: @shadow;
}

.account-card-shadow() {
    box-shadow: rgb(0 0 0 / 0.16) 0 10px 36px 0, rgb(0 0 0 / 0.06) 0 0 0 1px;
}

.main-title() {
    font-size: @main-title-font-size;
    font-weight: 500;
    color: @main-text-color;
}

.second-title() {
    font-size: @second-title-font-size;
    font-weight: 500;
    color: @main-text-color;
}

.light-text() {
    color: @second-text-color;
}

.selected-round-border(@border-color: @blue-light, @border-radius: @default-border-radius) {
    border: @selected-border-size solid @border-color;
    border-radius: @border-radius;
}

.selected-bottom-border(@border-color: @blue-light) {
    border-bottom: @selected-border-size solid @border-color;
}

.set-default-control-height() {
    height: @default-control-height;
}

.flex-column(@gap: @size-sm) {
    display: flex;
    flex-direction: column;
    gap: @gap;
}

.flex-row(@gap: @size-sm) {
    display: flex;
    flex-direction: row;
    gap: @gap;
}
