// basic sizes
@size-xxs: 2px;
@size-xs: 4px;
@size-sm: 8px;
@size-md: 16px;
@size-lg: 32px;
@size-xl: 64px;

// extended sizes
@size-xxs-xs: @size-xxs + @size-xs; // 2px + 4px = 6px
@size-xxs-sm: @size-xxs + @size-sm; // 2px + 8px = 10px
@size-xs-sm: @size-xs + @size-sm; // 4px + 8px = 12px
@size-xs-md: @size-xs + @size-md; // 4px + 16px = 20px
@size-sm-md: @size-sm + @size-md; // 8px + 16px = 24px

// colors
@default-dark-blue-shadow: rgba(5, 0, 48, 0.05);
