<div class="auth-container">
    <div class="header">
        Sign Up
    </div>
    <form class="form"
          id="auth-login"
          method="post"
          onsubmit="return true;"
    >
        <label class="label login-label">Enter your email address</label>
        <input class="input login-field"
               id="email"
               name="email"
               placeholder="email@mail.com"
               type="text"
        >
        <label class="label password-label">Enter your password</label>
        <input class="input password-field"
               id="password"
               name="password"
               placeholder="Password"
               type="password"
        >
        <label class="label password-label">Confirm password</label>
        <input class="input password-field"
               id="confirm-password"
               name="password"
               placeholder="Password"
               type="password"
        >
        <button class="submit-button"
                type="submit"
        >
            Sign Up
        </button>
    </form>
</div>
