<ets-course-details-header></ets-course-details-header>
<div class="course-details-page">
    <div class="course-details-page__main">
        <ets-course-details-preview-media></ets-course-details-preview-media>
        <ets-course-details-overview></ets-course-details-overview>
        <ets-course-details-catalog></ets-course-details-catalog>
        <ets-course-details-study-plan></ets-course-details-study-plan>
    </div>
    <div class="course-details-page__addons">
        <ets-course-details-metrics
            class="course-details-page__addons-metrics"
        ></ets-course-details-metrics>
        <ets-course-details-attributes
            class="course-details-page__addons-attributes"
        ></ets-course-details-attributes>
    </div>
</div>
