<ets-course-details-header></ets-course-details-header>
<div class="course-details-page">
    <div class="course-details-page__main-wrapper">
        <ets-course-details-preview-media></ets-course-details-preview-media>
        <ets-course-details-overview></ets-course-details-overview>
        <ets-course-details-study-plan></ets-course-details-study-plan>
    </div>
    <div class="course-details-page__addons-wrapper">
        <ets-course-details-metrics></ets-course-details-metrics>
        <ets-course-details-attributes></ets-course-details-attributes>
    </div>
</div>
