<div class="course-details-catalog__header">
    What Will I Learn?
</div>
<div class="course-details-catalog__items">
    <div>
        <i class="pi pi-circle-fill"></i>
        <span>Understand the core concepts</span>
    </div>
    <div>
        <i class="pi pi-circle-fill"></i>
        <span>Understand the core concepts</span>
    </div>
    <div>
        <i class="pi pi-circle-fill"></i>
        <span>Understand the core concepts</span>
    </div>
    <div>
        <i class="pi pi-circle-fill"></i>
        <span>Understand the core concepts</span>
    </div>
    <div>
        <i class="pi pi-circle-fill"></i>
        <span>Understand the core concepts</span>
    </div>
</div>

